/* Headlines and paragraph */

h1 {
  font-size: 3rem;
}

li {
    display:inline;
}

.title {
    width:150px;
    height:100px;
    align-content: left;
    
}
body {
  background-color:white;
  color: black;
}

.footer a {
  text-decoration: none;
}

a {
    color:black;
}

a:focus , a:hover {
    color:darkred;
    
}
span{
    font-weight:bolder;
    font-size: larger;
}

.highlight {
    background-color: yellow;
    padding: 2px 5px;
    border-radius: 3px;
}

.poster {
    width:30%;
    margin-left: 25%;
    margin-top: 100px;
    color: black;
    font-family: "Libre Baskerville", serif;
    text-align: center;
  }
  
  .profile__portrait {
    float: left;
    display: block;
    border: 5px solid white;
    max-width: 30%;
    margin: 10px;
    height:auto;
  }
    
  
  